/* Styles généraux */
body {
    font-family: 'Rockwell', serif;
    color: #403e36; /* Couleur de texte principale */
    background-color: #f3f0ed; /* Couleur de fond */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #a9493c; /* Couleur de fond pour l'en-tête */
    color: #f3f0ed; /* Couleur de texte pour l'en-tête */
    padding: 20px;
    text-align: center;
    font-family: 'Perpetua', serif;
    position: relative;
}

.language-selector {
    position: absolute;
    top: 5px;
    right: 5px;
}

.select-btn {
    background-color: #f3f0ed; /* Couleur de fond pour le bouton de sélection */
    border: 1px solid #ccc2bb;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: #403e36;
}

.select-btn img {
    width: 20px;
    height: 15px;
    margin-right: 8px;
}

.options {
    display: none;
    position: absolute;
    background-color: #f3f0ed; /* Couleur de fond pour les options */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.options div {
    padding: 12px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #403e36;
}

.options div:hover {
    background-color: #d9cb8e; /* Couleur de survol */
}

.options img {
    width: 20px;
    height: 15px;
    margin-right: 8px;
}

.container {
    display: flex;
    flex-direction: column; /* Mise en page par défaut pour les mobiles */
}

.sidebar {
    background-color: #403e36; /* Couleur de fond de la barre latérale */
   
    width: 100%; /* Pleine largeur sur mobile */
    min-height: auto;
    
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #a9553c;
    border-style: double;
    border-width: 10px;
    margin-left: 4%;
    margin-right: 4%;

}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #f5f5f5; /* Couleur des liens de la barre latérale */
    text-decoration: none;
    font-size: 16px;
    font-family: 'Rockwell', serif;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.menu {
    flex-grow: 1;
    padding: 20px;
    width: 100%;
}

.menu section {
    margin-bottom: 20px;
}

.menu section h2 {
    color: #403e36;
    border-bottom: 2px solid #a9553c; /* Couleur de la bordure des titres de section */
    padding-bottom: 10px;
    font-size: 18px;
}

/* Ajouter des points devant chaque plat */
.menu ul {
    list-style-type: disc; /* Ajoute des points */
    padding: 0 20px; /* Ajoute un espace entre le point et le texte */
}

.menu ul li {
    font-size: 16px;
    margin: 10px 0;
}
  
/* Styles responsives */
@media (min-width: 768px) {
    .container {
        flex-direction: row; /* Mise en page en ligne pour les tablettes et plus */
    }

    .sidebar {
        width: 200px; /* Largeur fixe pour les écrans plus grands */
        min-height: 100vh;
    }

    .menu {
        padding: 40px;
    }
}
